{% block animal_list %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Zwierzęta</div>
        <!-- Table -->
        <table class="table">
            <thead>
            <tr>
                <th>Imię</th>
                <th>Gatunek</th>
                <th>Rasa</th>
                <th>Wiek</th>
                <th>Płeć</th>
            </tr>
            </thead>
            <tbody>
            {% for animal in animal_list %}
                <tr>
                    <th scope="row"><a href="{{ animal.get_absolute_url }}">{{ animal.name }}</a></th>
                    <td>{{ animal.species }}</td>
                    <td>{{ animal.breed }}</td>
                    <td>{{ animal.age }}</td>
                    <td>{{ animal.sex }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock animal_list %}