{% load static from staticfiles %}
{% load i18n widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %} - FosterHome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/foster_home.css' %}" rel="stylesheet">

{#    Use this to quickly test CSS changes in a template,#}
{#    then move to foster_home.css                       #}
    {% block extra_css %}{% endblock extra_css %}
</head>

<body>
{% block navbar %}
    {% include "includes/navbar.html" %}
{% endblock navbar %}

<div class="container">

    <h1>{% block page_title %}{% endblock page_title %}</h1>

    {% block content %}
    {% endblock content %}

</div> <!-- /container -->

    {% block footer %}{% endblock footer %}

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static "js/vendor-jquery.min.js" %}"></script>
<script src="{% static 'js/vendor-bootstrap.min.js' %}"></script>
<!-- place project specific Javascript in this file -->
<script src="{% static 'js/foster_home.min.js' %}"></script>
{% block extra_js %}{% endblock extra_js %}
</body>
</html>
