{% load i18n widget_tweaks %}
{% if form.errors and not form.non_field_errors %}
    <p class="errornote">
        {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
{% endif %}

{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <p class="errornote">
            {{ error }}
        </p>
    {% endfor %}
{% endif %}

{% block form %}
    <form action="{% block form_action %}{% endblock form_action %}" method="{% block form_method %}post{% endblock form_method %}" {% block additional_attributes %}{% endblock additional_attributes %}>
        {% csrf_token %}
        {% block form_fields %}
            {% for field in form.visible_fields %}
                <div class="form-group">
                    {{ field.errors }}
                    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                    {% render_field field class+="form-control" placeholder=field.label %}
                </div>
            {% endfor %}
            {% for field in form.hidden_fields %}
                {{ field }}
            {% endfor %}
        {% endblock form_fields %}
        <div class="form-row">
            <input class="btn btn-default" type="submit" value="{% block submit_text %}{% endblock submit_text %}" />
        </div>
    </form>
{% endblock form %}
