{% load widget_tweaks %}
{% csrf_token %}
{% for field in form.visible_fields %}
    <div class="form-group">
        {{ field.errors }}
        <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
        {% render_field field class+="form-control" placeholder=field.label %}
    </div>
{% endfor %}
{# TODO(kniski) next field #}
{% for field in form.hidden_fields %}
    {{ field }}
{% endfor %}