{% extends 'base.html' %}
{% load i18n widget_tweaks %}

{% block content %}

    {% if form.errors and not form.non_field_errors %}
        <p class="errornote">
            {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </p>
    {% endif %}

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="errornote">
                {{ error }}
            </p>
        {% endfor %}
    {% endif %}

    <form action="{% url "signin" %}" method="post" id="login-form">
        {% include "signin_form_fields.html" %}
        <div class="form-row">
            <input class="btn btn-default" type="submit" value="{% trans 'Sign in' %}" />
        </div>
    </form>

{% endblock content %}

{% block extra_js %}
    <script type="text/javascript">
        document.getElementById('id_username').focus()
    </script>
{% endblock extra_js %}