{% extends 'base.html' %}

{% block title %}Rejestracja udana{% endblock title %}

{% block page_title %} Rejestracja udana{% endblock page_title %}

{% block content %}
    <div class="jumbotron">
        <h1>Witamy na FOSTERHOME</h1>
        <p>Wysłaliśmy Ci wiadomość z linkiem aktywacyjnym, po kliknieciu twoje konto będzie aktywne</p>
    </div>
{% endblock content %}