{% load form_tags %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url "landing_page" %}">FosterHome</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {#                <li class="active"><a href="{% url "landing_page" %}">Home</a></li>#}
                {% if request.user.is_authenticated %}
                    <li><a href="{% url "users:user_profile" username=request.user.username %}">Profil</a></li>
                {% endif %}
                <li><a href="{% url "animals:list" %}">Zwierzęta</a></li>
                {#                <li><a href="#contact">Contact</a></li>#}
            </ul>
            {% if request.user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url "logout" %}">Wyloguj</a></li>
                </ul>
            {% else %}
                <form class="navbar-form navbar-right" method="POST" action="{% url 'signin' %}">
                    {% signin_form_fields %}
                    <button type="submit" class="btn btn-default">Zaloguj się</button>
                </form>
            {% endif %}
        </div><!--/.nav-collapse -->
    </div>
</div>