{% extends 'base.html' %}

{% block title %}Profil {{ object.username }}{% endblock title %}

{% block page_title %}Profil {{ object.username }}{% endblock page_title %}

{% block content %}

    <a href="{% url "users:edit" username=object.username %}">Edytój swój profil</a>
    <ul class="list-group">
        <li class="list-group-item">{{ object.username }}</li>
        <li class="list-group-item">{{ object.email }}</li>
        <li class="list-group-item">{{ object.address }}</li>
        <li class="list-group-item">{{ object.phone_no }}</li>
        <li class="list-group-item">{{ object.date_joined }}</li>
    </ul>
    <a href="{% url "animals:create" %}">Dodaj zwierzę</a>
    {% include 'includes/animal_list_table.html' with animal_list=object.animals.all %}
{% endblock content %}