{% extends 'base.html' %}

{% block title %}{{ object.name }} - {{ object.species }} {{ object.breed }}{% endblock title %}

{% block page_title %} {{ object.name }}{% endblock page_title %}

{% block content %}
    <div class="row">
        {% for image in object.photos.all %}
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ image.image.url }}" alt="...">
                </a>
            </div>
        {% endfor %}
    </div>

    {% if object.during_transition %}
        <div class="alert alert-info" role="alert">
            {% if is_owner %}
                Twoje zwierzę jest w trakcie zmiany właściciela. Aby potwierdzić przekazania pupila kliknij w przycisk poniżej.
            {% elif is_future_owner %}
                To twój nowy pupil. Kliknij w przycisk poniżej kiedy twój nowy zwierzak będzie z bezpieczny z Tobą.
            {% endif %}
        <button id="ownershipreq-confirmation" type="button" class="btn btn-default" data-id="{{ object.pk }}" data-complete-text="Wysłano">Potwierdź</button>
        </div>
    {% endif %}

    <ul class="list-group">
        <li class="list-group-item">{{ object.name }}</li>
        <li class="list-group-item">{{ object.species }}</li>
        <li class="list-group-item">{{ object.breed }}</li>
        <li class="list-group-item">{{ object.age }}</li>
        <li class="list-group-item">{{ object.sex }}</li>
    </ul>
    <a href="{% url "animals:edit" pk=object.pk %}">Edytuj</a>

    {% if not object.during_transition %}
        <button id="request-ownership" class="btn btn-default {% if already_requested %} active{% endif %}" type="button" data-loading-text="Chwileczkę..." data-complete-text="Wysłano" data-animal="{{ object.pk }}" data-csrf="{{ csrf_token }}">Zaopiekuj się</button>
    {% endif %}

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Historia zwierzęcia</div>
        <ul class="list-group">
            {% for entry in object.history.all %}
                <li class="list-group-item">{{ entry.entry_date }} - {{ entry.owner }} - {{ entry.diff }}</li>
            {% endfor %}
        </ul>
    </div>

    {% if not object.during_transition %}
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Chętni do adopcji</div>
            <ul id="ownership-requests" class="list-group" data-csrf="{{ csrf_token }}">
                {% for ownership_req in object.ownership_requests.all %}
                    <li class="list-group-item" data-ownership="{{ ownership_req.pk }}">
                        <a href="{{ ownership_req.applicant.get_absolute_url }}">{{ ownership_req.applicant }}</a>
                        <button type="button" class="btn btn-default ownershipreq" data-status="ACC" data-complete-text="Wysłano">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                        <button type="button" class="btn btn-default ownershipreq" data-status="REJ" data-complete-text="Wysłano">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

{% endblock content %}