{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}

    {{ object }}

    {# FIXME(kniski) form error handling is duplicated in user app #}
    {% if form.errors and not form.non_field_errors %}
        <p class="errornote">
            {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </p>
    {% endif %}

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="errornote">
                {{ error }}
            </p>
        {% endfor %}
    {% endif %}
    <form action="{% url "animals:history" pk=object.pk %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form.description.errors }}
            <label for="{{ form.description.id_for_label }}">{{ form.description.label }}:</label>
            {{ form.description|add_class:"form-control" }}
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock content %}